body{
    margin: 0;
    padding: 0;
    background: url("/Image/download.jpeg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 520px;
    background: #000080;
    color: #fff;
    top: 55%;
    left: 22%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}
*{
text-decoration: none;
font-family: Century Gothic;
font-size: 20px;
}
ul{
        float: left;
        list-style-type: none;
        text-decoration: none;
}

ul li{
        display: inline-block;
     }
ul li a{
        color: #fff;
        padding: 1px 20px;
        border: 1px solid #fff;

        }

ul li a:hover{
        background-color:#fff;
        color: #000;
        }
ul li.active a{
        background-color:#fff;
        color: #000;
        }
.main{
        max-width: 1200px;

        }
.title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        }
.title h1{
        color: #fff;
        font-size: 40px;
        }
.button{
        color: white;
        padding: 15px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 170px -110px;
        cursor: pointer;
        width: 50;
        height: 50;
        }
.btn{
        border: 1px solid #fff;
        padding: 8px 20px;
        color: #fff;
        text-decoration: none;
        }
.btn:hover{
        background-color:#fff;
        color: #000;
        }

